<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Construction</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
  <div class="grid-container">
    <div class="navigation">
      <div class="nav-menu"><a href="/login" id="signoutButton">go back</a></div>
    </div>
    
    <div class="mainContent">
      <section id="content"></section>
    </div>
    <div class="sideContent">Side Content</div>
    <div class="Ad">AD GOES HERE</div>
    
  </div>
</body>
</html>