<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clickster</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
  <div class="grid-container">
    <div class="Navigation">
     <div class="nav-menu"><a href="" id="gameButton">game</a></div>
      <div class="nav-menu"><a id="leaderboardButton" href="/leaderboard">leaderboard</a></div>
      <div class="nav-menu"><a href="/account" id="accountButton">account</a></div>
      <div class="nav-menu"><a href="/logout" id="signoutButton">signout</a></div>
    </div>
    
    <div class="Login">
    </div>
    
    <div class="mainContent">
      <section id="content">
        <div id="gameAreaWrapper">
        <h2 id="totalClicks" className="totalClicks">total clicks: {{ totalClicks }}</h2>
        <button id="clickForScore" className="btn btn-default">click</button>
        <input type="hidden" name="_csrf" value={props.csrf}/>
      </div>
      </section>
    </div>
    <div class="sideContent">Side Content</div>
    <div class="Ad">AD GOES HERE</div>
  </div>
  <script src="/assets/gameBundle.js"></script>
</body>
</html>