/**
  COLOR PALLETTE: https://coolors.co/813405-f5efed-06a77d-273043-3a405a

  687091 - Dark Blue-Gray
  813405 - Smoky Topaz
  F5EFED - Isabelline
  06A77D - Munsell Green
  273043 - Gunmetal
  3A405A - Charcoal
  ECA400 - Web Orange
**/

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #F5EFED;
}

/********/
/* GRID */
/********/
/**
  CREDIT: https://grid.layoutit.com/
**/
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.11fr 1fr 1fr 0.3fr;
  grid-template-areas: "Navigation Navigation Navigation Navigation" 
                       "mainContent mainContent mainContent sideContent" 
                       "mainContent mainContent mainContent sideContent"
                       "Ad Ad Ad sideContent";
  min-height: 100vh;
}

.login-grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0fr;
  grid-template-rows: 0.11fr 1fr 1fr 0.3fr;
  grid-template-areas: "Navigation Navigation Navigation Navigation" 
                       "mainContent mainContent mainContent sideContent" 
                       "mainContent mainContent mainContent sideContent"
                       "Ad Ad Ad sideContent";
  min-height: 100vh;
}

.Navigation { 
  grid-area: Navigation;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  background-color: #273043;
  border-bottom: 5px solid #ECA400;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "  " ". . .";
  grid-area: Login;
}

.mainContent {
  grid-area: mainContent;
  background-color: #F5EFED;
}

.sideContent {
  grid-area: sideContent;
}

.Ad {
  grid-area: Ad;
  border-top: 3px solid black;
}

. { grid-area: ; }

div.nav-menu {
  padding: 10px 0px 5px 5px;
  margin: 4px 0px 4px 4px;
  font-family: 'Comfortaa', cursive;
}

div.nav-menu a {
  color: #F5EFED;
  text-decoration: none;
  padding: 7px;
  justify-content: center;
  transition: color 0.3s ease;
}

div.nav-menu a:hover {
  color: #06A77D;
}

div.Navigation h3 {
  color: #F5EFED;
  text-decoration: none;
  font-family: 'Comfrotaa', cursive;
  margin, padding: 0px;
  justify-content: center;
}

.show-notif {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/***************/
/* INPUT FORMS */
/***************/
form#signupForm, form#loginForm, form#resetForm {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}

input#user, input#pass, input#pass2, input#oldPass,
input#newPass, input#newPass2 {
  -webkit-appearance: none;
  font-size: 16px;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid #3A405A;
  font-family: 'Comfortaa', cursive;
  margin: auto;
  margin-top: 22px;
  padding: 5px;
  width: 25%;
  transition: background-color 0.1s ease
}

/*
input#user:hover, input#pass:hover, #pass2:hover,
#oldPass:hover, #newPass:hover, #newPass2:hover {
  background-color: #f1f1f1;
}
*/

/*
input#user:focus, input#pass:focus, input#pass2:focus,
#oldPass:focus, #newPass:hover, #newPass2:hover {
  background: #f1f1f1;
  outline: none;
}
*/

input#loginFormSubmit, input#signupFormSubmit, input#resetFormSubmit {
  -webkit-appearance: none;
  border: 0;
  padding: 5px;
  font-family: 'Comfortaa', cursive;
  margin: auto;
  margin-top: 22px;
  transition: background-color 0.3s ease;
  width: 10%;
}

input#resetFormSubmit {
  color: F5EFED;
  background-color: #813405;
}

#loginFormSubmit:hover, #signupFormSubmit:hover {
  cursor: pointer;
  background-color: #06A77D;
}

#resetFormSubmit:hover {
  cursor: pointer;
}

#loginFormSubmit:focus, #signupFormSubmit:focus {
  outline: none;
}

.Content { 
  grid-area: Content; 
  height: 100%;
}

/************/
/* GAME CSS */
/************/
button#clickForScore {
  -webkit-appearance: none;
  background-color: #273043;
  color: #F5EFED;
  border: 0;
  width: 65px;
  height: 40px;
  font-family: 'Comfortaa', cursive;
}

button#clickForScore:hover {
  color: #06A77D;
}

button#clickForScore:focus {
  outline: none;
}

#totalClicks {
  font-family: "Comfortaa", cursive;
}



/***************/
/* LEADERBOARD */
/***************/
/**
  CREDIT TO https://www.tablesgenerator.com/html_tables#
**/
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #9ABAD9;
}
.tg td {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #444;
  background-color: #EBF5FF;
}
.tg th {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #fff;
  background-color: #409cff;
}

.tg .tg-lx26 {
  font-size: 18px;
  background-color: #273043;
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

.tg .tg-a79m {
  font-size: 16px;
  background-color: #687091;
  border-color: inherit;
  text-align: left;
  vertical-align: top
}